In [64]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from tensorflow.keras.models import load_model
import pickle

In [65]:
import pickle
import pandas as pd
from tensorflow.keras.models import load_model

# Load the trained model, scaler, and encoders
model = load_model('model.h5')

# Load the encoders and scaler
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('one_hot_enc_geo.pkl', 'rb') as file:
    one_hot_enc_geo = pickle.load(file)  # Use the correct variable name

with open('Scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

# Sample input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

# Convert input data to DataFrame
df = pd.DataFrame([input_data])

# One-hot encode Geography using the preloaded encoder
geo_encoded = one_hot_enc_geo.transform(df[['Geography']]).toarray()
geo_df = pd.DataFrame(geo_encoded, columns=one_hot_enc_geo.get_feature_names_out(['Geography']))

# Merge with original DataFrame
final_df = pd.concat([df.drop('Geography', axis=1), geo_df], axis=1)

# Display final DataFrame
print(final_df)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

   CreditScore Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  \
0          600   Male   40       3    60000              2          1

   IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
0               1            50000               1.0                0.0

   Geography_Spain
0              0.0

In [66]:
geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [67]:
final_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [68]:
final_df
input_df=final_df
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [69]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Check the unique values in the 'Gender' column
print(input_df['Gender'].unique())  # To verify if 'Male' and 'Female' are the only values

# Fit and transform the 'Gender' column
input_df['Gender'] = label_encoder.fit_transform(input_df['Gender'])

# Print the transformed DataFrame
print(input_df.head())

['Male']
   CreditScore  Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  \
0          600       0   40       3    60000              2          1

   IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
0               1            50000               1.0                0.0

   Geography_Spain
0              0.0

In [70]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [71]:
input_df['Gender'].value_counts()

Gender
0    1
Name: count, dtype: int64

In [72]:
import pandas as pd

# Ensure `geo_enc` transforms properly and matches training shape
geo_enc_array = one_hot_enc_geo.transform(df[['Geography']]).toarray()

# Get correct feature names from trained encoder
geo_feature_names = one_hot_enc_geo.get_feature_names_out(['Geography'])

# Convert to DataFrame with correct shape
geo_enc_df = pd.DataFrame(geo_enc_array, columns=geo_feature_names)

# Drop "Geography" column only if it exists
if "Geography" in df.columns:
    input_df = pd.concat([df.drop(["Geography"], axis=1), geo_enc_df], axis=1)
else:
    input_df = pd.concat([df, geo_enc_df], axis=1)  # If Geography is already dropped


# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Check the unique values in the 'Gender' column
print(input_df['Gender'].unique())  # To verify if 'Male' and 'Female' are the only values

# Fit and transform the 'Gender' column
input_df['Gender'] = label_encoder.fit_transform(input_df['Gender'])

# Print the transformed DataFrame
print(input_df.head())

# Print final DataFrame
print(input_df)

['Male']
   CreditScore  Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  \
0          600       0   40       3    60000              2          1

   IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
0               1            50000               1.0                0.0

   Geography_Spain
0              0.0
   CreditScore  Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  \
0          600       0   40       3    60000              2          1

   IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
0               1            50000               1.0                0.0

   Geography_Spain
0              0.0

In [73]:
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.54007722, -1.09665089,  0.10685843, -0.69164931, -0.26034447,
         0.81311138,  0.64946204,  0.96978946, -0.88017893,  1.00053348,
        -0.57776083, -0.57735027]])

In [74]:
## Predict Churn

prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step

array([[0.04045288]], dtype=float32)

In [75]:
prediction_proba = prediction[0][0]
prediction_proba

np.float32(0.04045288)